<footer style="background-color: grey;">
    <div class="container">
        <div class="copyright">
            <div style="color: white;background-color: grey;font-family: cursive;font-size:xx-large;">Designed
                by Prachi
                Gupta</div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
                                ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
