<footer style="background-color:gray;">
    <div class="container" style="background-color: gray;">
        <div class="row">
            <div class="col-md-4">
                <h1>About us</h1>
                <p style="overflow-wrap: anywhere;">
                    nsbjdbjcnsdvsdbvjksdbjkvsjnvkjdbvbdfjknfisnflkwehfcbwfeokfbjkwebfjlwebfljweb</p>
                <br>
                <div class="link">
                    <a href=" https://www.facebook.com"><img
                            src="https://www.teahub.io/photos/full/11-115962_facebook-logo-png-transparent-background-facebook-png.png"
                            width="45px" height="45px" alt="facebook"></a>
                    <a href=" https://www.instagram.com"><img
                            src="https://virtualmentorforsuccess.com/wp-content/uploads/2019/11/facebook-icon-transparent-background-2.png"
                            width="40px" height="40px" alt="instagram"></a>
                    <a href=" https://www.linkedin.com"><img
                            src="https://cdn-icons-png.flaticon.com/512/2504/2504923.png" width="40px" height="40px"
                            alt="linkedin"></a>
                </div>

            </div>
            <div class="col-md-4">
                <h1>Contact</h1>
                <p>Duttpura,Morena(M.P)</p>
                <p>guptaprachi046@gmail.com</p>
                <p>+91 8349222909</p>
                <p>+91 8349222909</p>

            </div>
            <div class="col-md-4">
                <h1>Timing</h1>

                <table>
                    <p>
                        <u>Mon-Fri (8 AM-6 PM)</u>
                    </p>
                    <p>
                        <u>Saturday (8 AM-3 PM)</u>
                    </p>
                    <p>
                        <u>Sunday (Close)</u>
                    </p>


                </table>


            </div>
        </div>

        <div class="copyright" style="font-family: cursive; color: white;text-align: center;padding-top: 15px;">
            <div>@2023 Copyright: @Prachi Gupta</div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
